.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #000;
    color: white;
    padding: 8px;
    z-index: 100;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

.skip-link:focus {
    top: 0;
}