* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-image: url("../images/logo/background-body.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

i.small {
    font-size: 2em;
    color: black;
    padding: 5px;
}

article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

article-item {
    padding: 16px;
    margin: 20px;
    background-color: #EDB102;
}

article-list {
    padding: 8px;
}

img.article-item__thumbnail {
    /* Sebaiknya gunakan properti width daripada max-width agar gambar yang ditampilkan memiliki ukuran yang sama. 
    max-width: 100%; */
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.article-name {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.article-city {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.article-description {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.page-header {
    display: grid;
    align-items: center;
    min-height: 380px;
    text-align: left;
    background-image: url("../images/heros/hero-image_3.jpg");
    background-position: center;
    max-width: 100%;
    background-size: contain;
}

.page-header-text {
    padding-left: 85px;
    text-align: left;
    color: #fff;
    max-width: 100%;
    height: 200px;
    margin-bottom: 110px;
}

.page-header-text h1 {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 38px;
    line-height: 44.53px;
}

.page-header-text p.large {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
    line-height: 103.2px;
    letter-spacing: 2%;
}

.page-header-text p.text-color {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 28.9px;
    letter-spacing: 2%;
    color: #E5B442;
    margin-bottom: 20px;
}

.btn-checkout {
    border-radius: 20px;
    background-color: #25282F;
    color: white;
    max-width: 15px;
    height: 40px;
    text-decoration: none;
}

.label-menu {
    font-family: 'Sarina', cursive;
    text-align: center;
    padding: 50px;
    padding-bottom: 1px;
}

div#contact {
    padding-bottom: 50px;
}

div#contact h1 {
    text-align: center;
    font-family: 'Sarina', cursive;
}

div#contact img {
    max-width: 100%;
    height: 280px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
}

.search-container input,
.search-container button i.fa {
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 499px) {
    article-list {
        grid-template-columns: 1fr !important;
    }

    .page-header-text {
        padding-left: 13px !important;
        margin-bottom: 5px;
    }

    .page-header-text h1 {
        font-size: 17.5px;
    }

    .page-header-text p.large {
        font-size: 50px;
        line-height: 15.2px;
    }

    .page-header-text p.text-color {
        font-size: 14px;
        line-height: 56.9px;
        margin-bottom: 0px;
    }

    img.article-item__thumbnail {
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    article-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .page-header-text {
        padding-left: 50px;
    }
}